*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
height:100%;
width:100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 16px;
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica, JetBrains Mono', monospace;
  margin: 0 0 0.5rem;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin: 0 0 1rem;
  line-height: 1.5;
}

.header {
    background-color: black;
    color: white;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.logo {
  width: 5rem;
  height: 4rem; 
  
}

.titlecontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btncontainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer { 
    position:fixed;
    bottom:0;
    background-color: black;
    color: white;
    margin-top:10px;
    width:100%;
    height: 60px;
    padding-top: 10px;
    text-align: center;
}

.btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: #1a1a1a;
    background-color: #aeaeae;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  
.btn:hover {
    background-color: #48f809;
  }

.buttonsgin {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 100%;
    height:150%;
    border:10px solid rgba(243, 239, 7, 0.983);
    font-size: 2rem;
    padding: 4rem 3rem 0.5rem 3rem;
    background-color: rgba(255,255,255,0.5);
    color: black;
    align-content: center;

  }

.buttonsgout {
    font-size: 1.25rem;
    padding: 0.8rem 1.4rem;
    margin: 0.625rem;
    background-color: #d55052;
    color: white;
    cursor: pointer;
}

.buttonsgup {
    font-size: 1.25rem;
    padding: 0.8rem 1.4rem;
    margin: 0.625rem;
    background-color: #05e8f8;
    color: #1a1a1a;
}

/* Login Container*/

.logincard {
  box-shadow: 7px 7px black;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 50%;
  height:12rem;
  background-image: url("../src/assets/garage.jpeg");
  background-size: cover;
}
.signupcard {
  box-shadow: 7px 7px black;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 50%;
  height:18rem;
  background-image: url("../src/assets/garage.jpeg");
  background-size: cover;
}

.card-header {
  padding: 0.375rem;
  background-color: #f1d20d;
  color: black;
  padding: 0.625rem;
}

.card-body {
  padding: 0.375rem;
}

.form-input {
  display: block;
  margin-bottom: 12px;
  width:60%;
}

.submitbtn {
  margin-top: 10px;
  background-color: white;
}

/* navigator*/

.buttonnav {
  font-size: 1.25rem;
  padding: 0.5rem 1.4rem;
  margin: 0.625rem;
  background-color: white;
  color: #1a1a1a;  
}

.buttonnav:hover {
  background-color: #78cfc9;
}

.buttonnav:active {
  background-color: #f0dd4b;
}

/* homepage*/

.homecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height:100%;
  justify-content: center;

}

.garagecontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-image: url("../src/assets/garage.jpeg");
  width:70%;
  min-height: 70vh;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px black;
}

/* Dashboard (CarForm/CarList) */

.carformcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width:100%;
}

.carform {
  margin-bottom: 1rem;
  padding-left:3rem;
  background-image: url("../src/assets/garage.jpeg");
  width:50%;
  border-radius: 20px;
  box-shadow: 10px 10px black;
}

.carlistdiv{
  height:100vh;
}

.carlistmaindiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  float:left;
  border: 2px solid black;
  margin:10px;
  border-radius: 20px;
  width:47%;
}

.carlistcontainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffffff;
  color: black;
  border:2px solid black;
  border-radius: 20px;
  margin:1px;
  padding: 0.5rem;
  width:100%;
}

.buttonsh {
  background-color: #99d1e6;
}

.buttonadd {
  color: black;
  background-color: #f0dd4b;
  
}

/* ServiceForm/ServiceList) */

.serviceformcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width:100%;
}

.serviceform {
  margin-bottom: 1rem;
  padding-left:3rem;
  background-image: url("../src/assets/garage.jpeg");
  width:80%;
  border-radius: 20px;
  box-shadow: 10px 10px black;
}

.servicelistdiv{
  height:100vh;
}

.servicelistmaindiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  float:left;
  border: 2px solid black;
  margin:10px;
  border-radius: 20px;
  width:47%;
}

.servicelistcontainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/tools1.jpeg");
  background-size: cover;
  color: white;
  border:2px solid black;
  padding:5px;
  border-radius: 20px;
  margin:1px;
  padding: 0.5rem;
  width:100%;
}

.singlecardisplay{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  width:60%;

}

.singlecarlistcontainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffffff;
  color: black;
  border:2px solid black;
  border-radius: 20px;
  margin:1px;
  padding: 0.5rem;
  width:30%;
}



/* forum */


.forumcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-image: url("../src/assets/garage.jpeg");
  width:70%;
  min-height:60vh;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px black;
  margin-bottom: 30px;;
}

.forumcontainer h1 {
  color:white;
  font-size: 40px;

}












/* col-sm */
@media screen and (min-width: 640px) {
  .col-sm-auto {
    flex-grow: 1;
    flex-basis: 0;
  }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .justify-space-between-sm {
    justify-content: space-between;
  }
  .justify-space-around-sm {
    justify-content: space-around;
  }
  .justify-flex-start-sm {
    justify-content: flex-start;
  }
  .justify-flex-end-sm {
    justify-content: flex-end;
  }
  .justify-center-sm {
    justify-content: center;
  }
  .align-start-sm {
    align-items: flex-start;
  }
  .align-stretch-sm {
    align-items: stretch;
  }
  .align-end-sm {
    align-items: flex-end;
  }
  .align-center-sm {
    align-items: center;
  }
  .align-content-start-sm {
    align-content: flex-start;
  }
  .align-content-stretch-sm {
    align-content: stretch;
  }
  .align-content-end-sm {
    align-content: flex-end;
  }
  .align-content-center-sm {
    align-content: center;
  }
}

/* col-md */
@media screen and (min-width: 768px) {
  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .justify-space-between-md {
    justify-content: space-between;
  }
  .justify-space-around-md {
    justify-content: space-around;
  }
  .justify-flex-start-md {
    justify-content: flex-start;
  }
  .justify-flex-end-md {
    justify-content: flex-end;
  }
  .justify-center-md {
    justify-content: center;
  }
  .align-start-md {
    align-items: flex-start;
  }
  .align-stretch-md {
    align-items: stretch;
  }
  .align-end-md {
    align-items: flex-end;
  }
  .align-center-md {
    align-items: center;
  }
  .align-content-start-md {
    align-content: flex-start;
  }
  .align-content-stretch-md {
    align-content: stretch;
  }
  .align-content-end-md {
    align-content: flex-end;
  }
  .align-content-center-md {
    align-content: center;
  }
}

/* col-lg */
@media screen and (min-width: 992px) {
  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .justify-space-between-lg {
    justify-content: space-between;
  }
  .justify-space-around-lg {
    justify-content: space-around;
  }
  .justify-flex-start-lg {
    justify-content: flex-start;
  }
  .justify-flex-end-lg {
    justify-content: flex-end;
  }
  .justify-center-lg {
    justify-content: center;
  }
  .align-start-lg {
    align-items: flex-start;
  }
  .align-stretch-lg {
    align-items: stretch;
  }
  .align-end-lg {
    align-items: flex-end;
  }
  .align-center-lg {
    align-items: center;
  }
  .align-content-start-lg {
    align-content: flex-start;
  }
  .align-content-stretch-lg {
    align-content: stretch;
  }
  .align-content-end-lg {
    align-content: flex-end;
  }
  .align-content-center-lg {
    align-content: center;
  }
}

/* col-xl */
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .justify-space-between-xl {
    justify-content: space-between;
  }
  .justify-space-around-xl {
    justify-content: space-around;
  }
  .justify-flex-start-xl {
    justify-content: flex-start;
  }
  .justify-flex-end-xl {
    justify-content: flex-end;
  }
  .justify-center-xl {
    justify-content: center;
  }
  .align-start-xl {
    align-items: flex-start;
  }
  .align-stretch-xl {
    align-items: stretch;
  }
  .align-end-xl {
    align-items: flex-end;
  }
  .align-center-xl {
    align-items: center;
  }
  .align-content-start-xl {
    align-content: flex-start;
  }
  .align-content-stretch-xl {
    align-content: stretch;
  }
  .align-content-end-xl {
    align-content: flex-end;
  }
  .align-content-center-xl {
    align-content: center;
  }
}

